@model PasportDetails.Models.PDetails

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PDetails</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PId" />
            <div class="form-group">
                <label asp-for="PHolderName" class="control-label"></label>
                <input asp-for="PHolderName" class="form-control" />
                <span asp-validation-for="PHolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPNumber" class="control-label"></label>
                <input asp-for="PPNumber" class="form-control" />
                <span asp-validation-for="PPNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPExp" class="control-label"></label>
                <input asp-for="PPExp" class="form-control" />
                <span asp-validation-for="PPExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PPOCode" class="control-label"></label>
                <input asp-for="PPOCode" class="form-control" />
                <span asp-validation-for="PPOCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
